:root {
    --cor-fundo: #0d192b;
    --cor-texto: #c4c8c5;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
    animation: fade-in 1s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#titel {
  animation: fade-in 1s ease-in-out;

}

h1 {
    font-size: 50px;
}

.telainicial {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    animation: fade-in 1s ease-in-out;
}

.grupoops{
    flex-direction: column;
}

.tituloprin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
}

.container {
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .container .box {
    width: 11.875em;
    height: 15.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
    margin: 5px;
  }

  .container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }
  
  .container .box {
    width: 11.875em;
    height: 15.875em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
  }
  
  .container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.1em;
  }
  
  .container .box div strong {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .container .box div p {
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  
  .container .box div span {
    font-size: 0.7rem;
    font-weight: 300;
  }
  

  
  .container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }

  button{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    font-size: 80px;
    color: white; 
  }

  #iconplay{
    font-size: 90px;	
  }

  .hidden {
    opacity: 0;
    transition: opacity 0.9s ease;
  }


  .game{
    display: none;
    justify-content: center;
    height: 100vh;
    width: 100%;
    animation: fade-in 1s ease-in-out;
    overflow: hidden;
  }

  .tower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  .hast{
    display: flex;
    width: 25px;
    height: 500px;
    background-color: #fff;
    border-radius: 30px;
  }

  .base{
    position: relative;
    transform: translateY(-50%);
    display: flex;
    width: 100px;
    height: 0px;
    border-bottom: 50px solid #fff;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    
  }

  .contador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .gameboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
  }

  .cilindro {
 /* this variable will define how much ci*/
 --r: 15px;
 /* whatever values/units you want */
 border-radius: 100% / calc(var(--r) * 2);
 display: none;
}

#disco0 {
  width: 290px;
  height: 140px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    rgb(233, 3, 156);
 }

#disco1 {
  width: 280px;
  height: 130px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    rgb(252, 210, 26);
 }

#disco2 {
  width: 270px;
  height: 120px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    rgb(84, 11, 151);
 }

#disco3 {
  width: 260px;
  height: 110px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    rgb(9, 110, 51);
 }

#disco4 {
  width: 250px;
  height: 100px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    rgb(223, 28, 190);
 }

#disco5 {
  width: 240px;
  height: 90px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    rgb(6, 213, 228);
 }

 #disco6 {
  width: 230px;
  height: 80px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    rgb(97, 0, 49);
 }

 #disco7 {
  width: 220px;
  height: 70px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    rgb(24, 82, 1);
 }

 #disco8 {
  width: 210px;
  height: 60px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    rgb(214, 20, 13);
 }

 #disco9 {
  width: 200px;
  height: 50px;
  background: 
    radial-gradient(50% var(--r) at 50% var(--r), #0003 99.99%, #0000 0),
    radial-gradient(50% var(--r) at 50% calc(100% - var(--r)), #fff3 99.99%, #0000 0),
    rgb(209, 223, 17);
 }











 .gamecontrols{
  display: flex;

 }

 .controls{
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  transform: translate(25px, -536px);
  width: 190px;
  height: 580px;
 }

 .selectarea{
  display: flex;
  width: 200px;
  height: 550px;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  z-index: 1000;
 } 

#resolve{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffbb76;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #button:hover {
    background-color: #ff9e4c;
  }







  